.header{
    background-color:#0D3F5D;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}
logo{
    flex-direction: row;
}
#navbar{
    display: flex;
    padding-bottom: 30px;
    padding-left: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color:whitesmoke;
}
   

#search bar{
    padding-top: 10px;
    
}

#footer{
    display: flex;
    justify-content: space-around;
    align-items:center;
} 
body{
    font-weight: 100;
    font-size:16px;
    background-color:#609BC0;
    color: whitesmoke;
} 
p {
    font-family: serif;
    font-size: 18px;
}